[submodule "pack/browser/start/vim-vinegar"]
	path = pack/remote/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "pack/git/start/vim-fugitive"]
	path = pack/remote/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/git/start/vim-dispatch"]
	path = pack/remote/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "pack/remote/start/lsp"]
	path = pack/remote/start/lsp
	url = https://github.com/yegappan/lsp
